/*--------------------- MEDIA QUERYS -------------------*/

/* 768 (MD) */
@media screen and (min-width: 768px){
  #main-menu {
    height: auto !important;
    display: block;
    order: 1;
    flex: 0 1 auto;
    margin-left: auto;

    ul {
      display: flex;
      margin: 0;

      li {
        a {
          padding: .8rem;
          text-transform: capitalize;
          margin: .3rem;
          border-top: none;
          transition: all .3s ease;

          &:hover {
            color: $primary;
            border-bottom: 4px solid;
          }
        }

        &.active {
          a {
            color: $primary;
            border-bottom: 4px solid;
          }
        }
      }
    }
  }

  .search-button {
    margin-left: 1rem;
    margin-right: 0;
    order: 2;
  }

  #search-block {
    order: 3;
    position: absolute;
    width: 20rem;
    right: 3rem;
    top: 4rem;
    position: absolute;
    transition: all .5s ease;
  }

  /*-----------------SECCIÓN SERVICIOS ---------------------*/

  .services {
    article {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &:hover {
        img {
          transform: rotateY(360deg);
          transform-style: preserve-3d;
        }
      }

      h3 {
        font-size: 1.5rem;
        margin: 0 0 .5rem 0;
        flex: 0 1 auto;

        a {
          &::after {
            content: "";
          }
        }
      }

      img {
        flex: 0 0 160px;
        margin-right: 0;
        margin-bottom: 1rem;
        transition: all 1s ease;
      }

      a {
        &.btn-light {
          margin-top: auto;
        }
      }
    }
  }
}

