/* Custom Styles */
// PATRON DE COLORES
$text: #111111;
$primary: #12AFAF;
$secondary: #009500;

html {
  font-size: 15px;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  color: $text !important;
}

.welcome {
  background: url('../../assets/images/fondo-encabezado.jpg') no-repeat center top;
  color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: $text;
  color: #fff;
  padding: .5rem 0;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      width: 150px;
      height: auto;
    }
  }
}
.search-button,
.menu-button {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff;
}

.search-button:focus,
.menu-button:focus { 
  outline: 0;
}

.search-button {
  margin-left: auto;
  margin-right: .8rem;
}

#search-block {
  flex: 1 1 100%;
}

.container-search-block {
  display: flex;
  height: 3rem;
  margin: 1rem 0;

  input[type="text"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
  }

  input[type="submit"] {
    flex: 0 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $primary;
    color: #fff;
    padding: 0 1rem;
  }
}

#main-menu {
  flex: 1 1 100%;

  ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;

    li {
      a {
        display: block;
        padding: .5rem 0;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        border-top: 1px solid #8c8888; 
        text-decoration: none;

        &:hover{
          color: $primary;
        }
      }

      &.active{
        a{
          color: $primary;
        }
      }
    }
  }
}

.header-text {
  display: flex;
  flex: 1 1 auto;
  align-items: center;

  .display-4 {
    margin-top: 4rem;
  }
}

.down-arrow {
  a {
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    animation: animated-arrow 2s ease-in-out infinite;
  }
}

@keyframes animated-arrow {
  from { transform: translateY(0); }
  50% { transform: translateY(6px); }
  to { transform: translateY(0); }
}

/*------------- SECCION AGENCIA ----------------*/
.agency {
  background: $primary;
  color: #fff;

  img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

/*------------- TU MEJOR ELECCIÓN --------------*/
.your-best-choice {
  h2 {
    span {
      color: $primary;
    }
  }

  .election-container{
    h4 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: .8rem;
    }
  }

  ul {
    list-style: none;

    li {
      min-height: 9rem;

      .fas, .far {
        font-size: 2.3rem;
        background: $secondary;
        border-radius: 50%;
        width: 4.7rem;
        height: 4.7rem;
        line-height: 4.7rem;
        color: #fff;
      }
    }
  }
}

/*------------- SECCION SERVICIOS --------------*/

.services {
  background: url('../../assets/images/fondo-servicios.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;

  article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  img {
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
  }

  h3 {
    margin: 0;
    font-size: 1.1rem;
    flex: 1 1 auto;

    a {
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;

      &::after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f054";
        font-size: 2rem;
        margin-left: 1rem;
        opacity: .5;
        position: relative;
        left: 0;
        transition: all .5s ease;
      }

      &:hover::after {
        left: -.5rem;
        opacity: 1;
        color: $primary;
      }
    }
  }
}

/*------------- SECCIÓN SLIDE PROYECTOS ------------------*/

.last-projects{
  text-align: center;

  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }

    a {
      text-decoration: none;

      h4 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: $text;
      }
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  i {
    font-size: 3rem;
    margin: 1rem .5rem 0 .5rem;
    color: $primary;
    transition: all .5s ease;

    &:hover {
      color: $secondary;
    }

    &:hover, &:focus {
      outline: 0;
    }
  }
}

/*------------- SECCIÓN FOOTER ------------------*/

.footer {
  background: $text;
  color: #fff;
  text-align: center;
  font-size: .9rem;

  .social-network {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: #fff;
      font-size: 2rem;
      margin: 0 .5rem;
      opacity: .7;
      transition: all .5s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.go-up {
  color:rgb(18, 175, 175);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  transition: all .5s ease;

  &:hover {
    outline: 0;
    text-decoration: none;
    color: #fff;
  }
}